@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a2e;
}

@theme {
  --color-primary: #1a1a2e;
  --color-secondary: #1e90ff;
  --color-secondary-light: #98ccff;
  --color-white: #ffffff;
  --color-gray: #8c93a1;
}

/* global.css */
.scroll-x-thin {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.scroll-x-thin::-webkit-scrollbar {
  height: 6px;
}

.scroll-x-thin::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.scroll-x-thin::-webkit-scrollbar-track {
  background: transparent;
}
